body {
    margin: 0; 
    padding: 0; 
    border: none; 
    outline: none; 
    background-color:#000000
}

.glavblok{
    background-image: url("/img/photo_2025-01-07_21-29-27.jpg");
    background-size: cover;
    width: 100%;
	height: 300px;
    border: none; 
    outline: none 
    
}

.podval{
    background-image: url("/img/photo_2025-01-07_21-29-27.jpg");
    background-size: cover;
    width: 100%;
	height: 300px;
    border: none; 
    outline: none;
    position: absolute;
    top: 68.8%;
    transform: rotate(180deg)
}